<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="col-sm-10 pf08">Predmeti - pregled</p>
        <button class="button-add-new" id="aAddNew">
            <i class="bi bi-plus"></i>unos novog
        </button>
    </div>
    <table class="display nowrap w-100" id="PredmetiTable">
        <thead>
            <tr>
                <th>Vrijeme unosa</th>  @* invisible *@
                <th>Klasa</th>
                <th>Naziv</th>
            </tr>
        </thead>
    </table>
    <div id="AddNew" style="display:none;">
        @* inline style for jQuery show/hide *@
        <partial name="_PredmetiAddNew" />
    </div>
</div>
@*<script src="~/js/_js_global/ExcelExportAction.js"></script>*@
<script src="~/js/Datatables/Index/PredmetiDatatable.js"></script>
<script src="~/js/_js_global/DatatablesSearchStyle.js"></script>
<script src="~/js/_js_global/_addNewHideUnhide.js"></script>
<script src="~/js/alertify/alertify.min.js"></script>
<link rel="stylesheet" href=~/js/alertify/css/alertify.css>
<script>
    $(document).ready(function () {
        const input = $('#PredmetiTable_filter input[type="search"]');
        const filter = $('#PredmetiTable_filter');
        setStyle(input, filter);
    });
</script>