<div class="row side-padding-10">
    <div class="col-md-6">
        <form class="row g-3 d-flex justify-content-start">
            <div class="col-md-4">
                <label hidden class="control-label"></label>
                <input id="urbroj" class="form-control form-control-sm" placeholder="URBROJ" />
            </div>
            <div class="col-md-3">
                <label hidden class="form-label col-form-label-sm">Datum dopisa</label>
                <input type="text" id="datumDopisa" class="form-control form-control-sm" placeholder="Datum dopisa"
                       onfocus="(this.type='date')" onblur="setDatumDopisaTextIfEmpty()" >
            </div>
            <div class="col-md-2">
                <button type="button" value="Spremi" class="btn btn-dark" id="btnSave">Spremi</button>
            </div>
        </form>
    </div>
</div>

<script>
    let hidden = true;
    $("#btnSave").on("click", function () {
        $.ajax({
            type: "POST",
            url: "/Dopisi/SaveToDB",
            data: {
                predmetId: predmetId,
                urbroj: $("#urbroj").val(),
                datumDopisa: $("#datumDopisa").val(),
            },
            success: function (r) {
                if (r.success) {
                    alertify.success(r.message);
                } else {
                    alertify.error(r.message);
                }
                table.ajax.reload(null, false); // user paging is not reset on reload(callback, resetPaging)
            },
            error: function (r) {
                alertify.error(r.message);
                table.ajax.reload(null, false);
            }
        });
        $("#AddNew").hide("slow");
        $("#urbroj").val("");
        $("#datumDopisa").val("");
    })

    function setDatumDopisaTextIfEmpty() {
        if (document.getElementById("datumDopisa").value == "") {
            document.getElementById('datumDopisa').type = 'text';
        }
    }
</script>