<table class="display nowrap w-100" id="OdsTable">
    <thead>
        <tr>
            <th>Mjerno mjesto</th>
            <th>Stan ID</th>
            <th>Šifra objekta</th>
            <th>Adresa</th>
            <th>Kat</th>
            <th>Broj stana</th>
            <th>Četvrt</th>
            <th>Površina</th>
            <th>Napomena</th>
            <th>Akcija</th>
        </tr>
    </thead>
</table>
<script src="~/js/Datatables/Create/OdsCustomersTable.js"></script>
<script>
    function getData(id, stanid) {
        $('#OId').val(id);
        $('#OMM').val(stanid);

        GetStanData(id); // poziv ajax f-je za notification builder
    };
</script>

