<form class="row g-3 d-flex justify-content-end">
    <div class="col-md-2">
        <select class="form-control form-control-sm" id="selectPredmet">
            <option value="" disabled selected hidden>Predmet</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-control form-control-sm" id="selectDopis" disabled>
            <option value="" disabled selected hidden>Dopis</option>
        </select>
    </div>
</form>