<hr />
<div class="row">
    <div class="col-md-2">
        <select class="form-control form-control-sm" id="selectPredmet">
            <option value="" disabled selected hidden>Predmet</option>
        </select>
    </div>
    <div class="col-md-2">
        <select class="form-control form-control-sm" id="selectDopis" disabled>
            <option value="" disabled selected hidden>Dopis</option>
        </select>
    </div>

    <div class="col-md-4">
        <button type="button" class="d-inline btn btn-dark" id="btnSave">Spremi</button>
        <button type="button" class="d-inline btn btn-danger" id="btnDelete">Briši sve</button>
    </div>
    <div class="col-sm-2">
    </div>
    <div class="ml-auto" style="margin-right:15px;">
        <button type="button" id="buttonRefresh" class="btn btn-light">
            <i class="bi bi-arrow-repeat"></i>
        </button>
    </div>
</div>