@model aes.Models.HEP.Ods
@{
    ViewData["Title"] = "Create";
}
<div class="content-bg">
    <div class="head-bg">
        <p class="pf08">Unos novog mjernog mjesta</p>
    </div>
    <div>
        <partial name="_Stan" />
    </div>
    <hr />
    <div class="row col-sm-auto">
        <label class="form-label col-form-label-sm side-padding-10" id="stanText"> </label>
    </div>
    <form asp-action="Create">
        <div class="side-padding-10" style="width:60%;">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="invisible" hidden>
                    <label hidden asp-for="StanId" class="control-label"></label>
                    <input type="hidden" asp-for="StanId" id="SId" readonly class="form-control form-control-sm" />
                    <span asp-validation-for="StanId" class="text-danger"></span>
                </div>
                <div class="col-md-3">
                    <label class="control-label" hidden></label>
                    <input id="StanId" readonly class="form-control form-control-sm" placeholder="Stan ID" />
                </div>
                <div class="col-md-4">
                    <label hidden asp-for="Omm" class="control-label"></label>
                    <input asp-for="Omm" id="Omm" class="form-control form-control-sm" placeholder="Obračunsko mjerno mjesto" />
                    <span asp-validation-for="Omm" class="text-danger"></span>
                </div>
                <div class="col-md-4">
                    <label hidden asp-for="Napomena" class="control-label"></label>
                    <input asp-for="Napomena" class="form-control form-control-sm" placeholder="Napomena" />
                    <span asp-validation-for="Napomena" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr />
        <div class=" row side-padding-10">
            <div class="side-padding-10">
                <button onclick="location.href='@Url.Action("Index", "Ods")'" type='button' class='button-back' id='remove'><i class='bi bi-arrow-left'></i>  povratak</button>
                <button type="submit" value="Spremi" class="btn btn-dark">Spremi</button>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <script src="~/js/_js_global/ExcelExportAction.js"></script>
    <script src="~/js/_js_global/DatatablesSearchStyle.js"></script>
    <script src="~/js/_js_global/notificationBuilder/NotificationBuilderKupacAndOds.js"></script>
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script>
        $(document).ready(function () {
            const input = $('#_StanTable_filter input[type="search"]');
            const filter = $('#_StanTable_filter');

            setStyle(input, filter); // postavljam css za searchbox
        });

        $("#StanId").on("change", function () {
            let i = $('#SId').val();
            GetStanData(i);
        });
    </script>
}