<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="col-sm-10 pf08">HEP - ODS - obračunska mjerna mjesta</p>
        <a class="link-head" asp-controller="Ods" asp-action="Create">
            <i class="bi bi-plus"></i>unos novog
        </a>
    </div>
    <table class="display nowrap w-100" id="OdsTable">
        <thead>
            <tr>
                <th>Mjerno mjesto</th>
                <th>Stan ID</th>
                <th>Šifra objekta</th>
                <th>Adresa</th>
                <th>Kat</th>
                <th>Broj stana</th>
                <th>Četvrt</th>
                <th>Površina</th>
                <th>Napomena (mjerno mjesto)</th>

                <th>Vrijeme unosa</th> @* seen in editor *@

            </tr>
        </thead>
    </table>
</div>
<script src="~/js/_js_global/ExcelExportAction.js"></script>
<script src="~/js/Datatables/Index/OdsDatatable.js"></script>
<script src="~/js/_js_global/DatatablesSearchStyle.js"></script>
<script>
    $(document).ready(function () {
        const input = $('#OdsTable_filter input[type="search"]');
        const filter = $('#OdsTable_filter');
        setStyle(input, filter);
    });
</script>