@model aes.Models.Stan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Stan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group space-10-10">
                <label asp-for="StanId" class="control-label"></label>
                <input asp-for="StanId" class="form-control" />
                <span asp-validation-for="StanId" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="SifraObjekta" class="control-label"></label>
                <input asp-for="SifraObjekta" class="form-control" />
                <span asp-validation-for="SifraObjekta" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="Vrsta" class="control-label"></label>
                <input asp-for="Vrsta" class="form-control" />
                <span asp-validation-for="Vrsta" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="Adresa" class="control-label"></label>
                <input asp-for="Adresa" class="form-control" />
                <span asp-validation-for="Adresa" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="Kat" class="control-label"></label>
                <input asp-for="Kat" class="form-control" />
                <span asp-validation-for="Kat" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="BrojSTana" class="control-label"></label>
                <input asp-for="BrojSTana" class="form-control" />
                <span asp-validation-for="BrojSTana" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="Naselje" class="control-label"></label>
                <input asp-for="Naselje" class="form-control" />
                <span asp-validation-for="Naselje" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="Četvrt" class="control-label"></label>
                <input asp-for="Četvrt" class="form-control" />
                <span asp-validation-for="Četvrt" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="Površina" class="control-label"></label>
                <input asp-for="Površina" class="form-control" />
                <span asp-validation-for="Površina" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="StatusKorištenja" class="control-label"></label>
                <input asp-for="StatusKorištenja" class="form-control" />
                <span asp-validation-for="StatusKorištenja" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="Korisnik" class="control-label"></label>
                <input asp-for="Korisnik" class="form-control" />
                <span asp-validation-for="Korisnik" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="Vlasništvo" class="control-label"></label>
                <input asp-for="Vlasništvo" class="form-control" />
                <span asp-validation-for="Vlasništvo" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="DioNekretnine" class="control-label"></label>
                <input asp-for="DioNekretnine" class="form-control" />
                <span asp-validation-for="DioNekretnine" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="Sektor" class="control-label"></label>
                <input asp-for="Sektor" class="form-control" />
                <span asp-validation-for="Sektor" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <label asp-for="VrijemeUnosa" class="control-label"></label>
                <input asp-for="VrijemeUnosa" class="form-control" />
                <span asp-validation-for="VrijemeUnosa" class="text-danger"></span>
            </div>
            <div class="form-group space-10-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
