@page
@using System.Threading
@model LoginModel
@{
    ViewData["Title"] = "Log in";
}
@if (!User.Identity.IsAuthenticated)
{
    <div class="container vh-100">
        <div class="d-flex justify-content-md-center align-items-center vh-100">
            <div class="justify-content-around content-bg">
                <div class="head-bg">
                        <p class="pf08">Login</p>
                </div>
                <div class="logo-center">
                    <img src="~/logo-sm.png" alt="aes">
                </div>
                <div class="col">
                    <section>
                        <div>
                            <form id="account" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="col">
                                    <input asp-for="Input.Email" class="form-control form-control-sm" placeholder="e-mail"/>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="col margin-top-10">
                                    <input asp-for="Input.Password" class="form-control form-control-sm" placeholder="password"/>
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group invisible">
                                    <div class="checkbox">
                                        <label asp-for="Input.RememberMe">
                                            <input asp-for="Input.RememberMe" checked/>
                                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group d-flex justify-content-center margin-top-10">
                                    <button type="submit" class="btn btn-outline-dark">Log in</button>
                                </div>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
}
else
 {
     Response.Redirect("/Home/Index");
}

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}