@model aes.Models.Dopis

@{
    ViewData["Title"] = "Edit";
}

<div class="content-bg">
    <div class="row head-bg justify-content-between">
        <p class="pf08">Klasa: @Model.Predmet.Klasa URBROJ: @Model.Urbroj</p>
    </div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        @* hidden attributes - for bind only *@
        @* ------------------------------------------------------------------------------------ *@
        <div hidden class="invisible">
            <div class="form-group">
                <label asp-for="PredmetId" class="control-label"></label>
                <select asp-for="PredmetId" class="form-control" asp-items="ViewBag.PredmetId"></select>
                <span asp-validation-for="PredmetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrijemeUnosa" class="control-label"></label>
                <input asp-for="VrijemeUnosa" class="form-control" />
                <span asp-validation-for="VrijemeUnosa" class="text-danger"></span>
            </div>
        </div>
        @* ------------------------------------------------------------------------------------ *@

        <div class="row">
            <div class="col-md-3">
                <div class="form-group space-10-10">
                    <label asp-for="Urbroj" class="control-label"></label>
                    <input asp-for="Urbroj" class="form-control form-control-sm" />
                    <span asp-validation-for="Urbroj" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group space-10-10">
                    <label asp-for="Datum" class="control-label"></label>
                    <input asp-for="Datum" class="form-control form-control-sm" />
                    <span asp-validation-for="Datum" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <button onclick="location.href='@Url.Action("Details", "Dopisi", new { id = Model.Id })'" type='button' class='button-back'><i class='bi bi-arrow-left'></i>  povratak na detalje</button>
            <button onclick="location.href='@Url.Action("Delete", "Dopisi", new { id = Model.Id })'" type='button' class='button-back' id='remove'><i class="bi bi-x"></i>  briši</button>
            <button type="submit" class="btn btn-dark" style="margin-left: 10px;">Spremi</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
